{% extends 'html/base.html' %}

{% block title %}
    Add user
{% endblock %}

{% block nav %} {% include 'html/elements/nav.html' with is_add_user=True %} {% endblock %}

{% block content %}
    <form class="form" style="width: 100%" method="post" action="/add_user_form/">
        {% csrf_token %}
        <div style="display: table; margin: 0 auto">
            <h2 style="margin-bottom: 20px">Add user:</h2>
            <div class="md-form">
                {{ first_name.as_p }}
                <input name="first_name" type="text" id="form1" class="form-control">
                <label for="form1">First name</label>
            </div>
            <div class="md-form">
                {{ second_name.as_p }}
                <input name="second_name" type="text" id="form1" class="form-control">
                <label for="form1">Second name</label>
            </div>
            <button type="submit" class="btn btn-pink btn-block">Add user</button>
        </div>
    </form>
{% endblock %}