{% extends 'html/base.html' %}

{% block title %}
    Nok! Nok! Who is there?
{% endblock %}

{% block content %}
    <div class="md-form">
        <input name="first_name" type="text" id="form1" class="form-control">
        <label for="form1">First name</label>
    </div>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
{% endblock %}