{% extends 'html/base.html' %}

{% block title %}
    Nok! Nok! Who is there?
{% endblock %}

{% block nav %} {% include 'html/elements/nav.html' with is_home=True %} {% endblock %}

{% block content %}
    <div class="home">
        <h1 class="home-title">Home page</h1>
        <div class="home-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A esse exercitationem ipsum officia qui sit. A
            commodi cupiditate deleniti, dicta facere ipsum obcaecati, optio praesentium quibusdam reiciendis similique
            tempora voluptates.
    </div>
    </div>
{% endblock %}