{% extends 'html/base.html' %}

{% block title %}
    Nok! Nok! Who is there?
{% endblock %}

{% block content %}
    <h2>page for tests</h2>
    <a href="{% url 'test' %}">111</a>
    <div class="col-md-12 mb-4">

        <button type="button" class="btn btn-elegant"><i class="far fa-user pr-2" aria-hidden="true"></i>User</button>
        <button type="button" class="btn btn-unique"><i class="fas fa-wifi pr-2" aria-hidden="true"></i>Wifi</button>
        <button type="button" class="btn btn-pink"><i class="fas fa-plane pr-2" aria-hidden="true"></i>Plane</button>
        <button type="button" class="btn btn-purple"><i class="fas fa-heart pr-2" aria-hidden="true"></i>Heart</button>

    </div>
{% endblock %}