{% extends 'html/base.html' %}

{% block title %}
    Users from DB
{% endblock %}

{% block nav %} {% include 'html/elements/nav.html' with is_users=True %} {% endblock %}

{% block content %}
    <div class="users">
        <div style="display: table; margin: 0 auto; width: 800px">
            <h3>Users from database:</h3>
            <table class="table table-dark table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">№ in DB</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usr in user %}
                    <tr>
                        <td>{{ usr.id }}</td>
                        <td>{{ usr.first_name }}</td>
                        <td>{{ usr.second_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}