{% extends 'html/base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block nav %} {% include 'html/elements/nav.html' with is_articles=True %} {% endblock %}

{% block content %}
    <div class="detail-articles">
        <h1 class="article-title"> {{ article.title }} </h1>
        <div class="detail-text">
            {{ article.body|linebreaks }}
        </div>
        <hr>
        <small class="date">
                Published {{ article.publish }} | by {{ article.author }}
        </small>
        <div class="share-post-btn">
            <button class="btn btn-light btn-sm">
            <a href="/articles" style="color:#222;"><< back</a>
            </button>
            <button class="btn btn-pink btn-sm" style="position: absolute; right: 125px;">
            <a href="{% url "article_share" article.slug %}">Share by e-mail</a>
            </button>
            <button class="btn btn-danger btn-sm" style="position: absolute; right: 15px;">
            <a href="{% url "article_delete" article.slug %}">Delete</a>
            </button>

        </div>
    </div>
{% endblock %}