{% extends 'html/base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block nav %} {% include 'html/elements/nav.html' with is_articles=True %} {% endblock %}

{% block content %}
    <div class="detail-articles">
        <h1 class="article-title"> {{ article.title }} </h1>
        <div class="detail-text">
            {{ article.body|linebreaks }}
        </div>
        <hr>
        <small class="date">
                Published {{ article.publish }} by {{ article.author }}
        </small>
        <div class="share-post-btn">
            <button class="btn btn-pink btn-sm">
            <a href="/articles"><<</a>
            </button>
            <button class="btn btn-pink btn-sm">
            <a href="{% url "article_share" article.slug %}">Share this article</a>
            </button>
        </div>
    </div>
{% endblock %}