{% extends 'html/base.html' %}

{% block title %}
    Share: "{{ article.slug }}"
{% endblock %}

{% block nav %} {% include 'html/elements/nav.html' with is_home=True %} {% endblock %}

{% block content %}
    {% if sent %}
        <h2>E-mail successfully sent</h2>
        <p>
            "{{ article.title }}" was successfully sent to {{ cd.email_to }}.
        </p>
        <button class="btn btn-pink btn-sm">
            <a href="/articles" style="color: #f2f2f2"><< Back to articles</a>
        </button>
    {% else %}
        <div class="share-post" style="width: 100%">
            <div style="display: table; margin: 0 auto">
                <h4 style="margin-bottom: 30px">Share: "{{ article.title }}" by e-mail.</h4>
                <form action="." method="post" style="display: table; margin: 0 auto">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="md-form">
                            <label for="{{ field.name }}">{{ field.label }}</label> {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-pink btn-block">Share</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}